.thank-you {
    justify-content: right;
}

.body {
    background-color: antiquewhite;
}

.topnav-bar {
    background-color: cornflowerblue;
    justify-content: flex-end;
    padding: 5px;
    align-items: flex-end;
}

.hamburger-icon {
    position: absolute;
    top: 8px;
    right: 16px;
    bottom: 0px;
}

.first-main-title {
    font-size: 3.5rem;
    position: absolute;
    top: 8px;
    left: 20px;
    bottom: 0px;
    color: antiquewhite;
}

.h2 {
    justify-content: center;
    text-align: center;
}

.main-text {
    visibility: visible;
    text-align: center;
}

.article {
    background-color: lightgoldenrodyellow;
}

.footer {
    background-color: aqua;
}

.grid-container {
    background-color: antiquewhite;
    border: 20px solid blue;
}
